body{
    padding: 0px;
    margin: 0px;
    font-family: 'Jost', sans-serif;
    background-color: #f1e8cd;
}
.home{
    background: url(homepix/bomberman.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
nav{
    background: #000;
}
nav::after{
    content: '';
    clear: both;
    display: block;
}
.menu{
    margin-right: 80px;
    float: right;
}
.menu li{
    display: inline-block;
    list-style: none;
    line-height: 20px;
    font-size: 15px;
    left: -20px;
    position: relative;
}
.menu li a{
    display: inline-block;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu li a:hover{
    background: orange;
    color: black;
}
.menu li:hover .dropdown{
    display: block;
}
.dropdown{
    position: absolute;
    background: black;
    display: none;
    top: 65px;
}
.dropdown li{
    display: block;
    list-style: none;
    font-size: 15px;
    text-align: justify;
}
.logo{
    text-decoration: none;
    color: #ffff;
    font-size: 30px;
    font-family: 'Trade Winds', cursive;
    padding: 22px 100px;
    width: 20%;
    float: left;
}
.banner-text{
    position: absolute;
    top: 70%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.banner-text h1{
    font-family: sans-serif;
    margin: 0;
    font-size: 40px;
    color: orange;
    font-family: 'Koulen', cursive;
}
.banner-text p{
    font-size: 21px;
    margin: 0;
    color:white;
}
.banner-text i{
    font-size: 45px;
    padding-top: 27%;
    color: white;
}
.bomberman-white img{
    padding: 20px 0 15px 65%;
}
.bomberman-white p{
    text-align: justify;
    font-size: 20px;
    padding: 70px 45% 0 10%;
    position: absolute;
    text-indent: 30px;
} 
.bomberman-white a{
    color: orange;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
} 
.bomberman-white a:hover{
    color:#000
}
.bomberman-white i{
    margin-top: 15px;
    margin-left: -25px;
}
.second-section{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,107,141,1) 0%, rgba(0,69,91,1) 90% );
}
.second-section h1{
    font-family: 'Koulen', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: auto;
}
.video{
    position: relative;
    width: auto;
    height: auto;
    padding-bottom: 500px;
}
.video iframe{
    top: 0;
    left: 20%;
    width: 60%;
    height: 90%;
    position: absolute
}
.series1{
    font-family: 'Koulen', cursive;
    font-size: 50px;
    margin: -65px;
    text-align: center;
    position: absolute;
}
.containerr1{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
}
.containerr1 .box1{
    width: 305px;
    margin: 10px;
    position: relative;
}
.imgbox1 img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.containerr1 a{
    color: black;
    padding: 10px 15px 10px 15px;
    margin-left: 88%;
    text-decoration: none;
    text-align: center;
}
.containerr1 a:hover{
    color: white;
}
.third-section{
    padding: 10px 0 65px;
}
.third-section h1{
    padding-left: 100px;
    position: absolute;
}
.third-section p{
    padding: 70px 50% 0px 100px;
    text-align: justify;
    font-size: 20px;
    text-indent: 30px;
    position: absolute;
}
.third-section img{
    width: 38%;
    padding: 70px 0px 0px 55%;
}
.third-section a{
    color: orange;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}
.third-section a:hover{
    color: black;
}
.third-section i{
    margin-top: 15px;
    margin-left: -25px;
}
.footer{
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    padding-bottom: 25px;
    text-align: center;
    color: white;
}
.footer .social a{
    font-size: 18px;
    color: inherit;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    line-height: 35px;
    display: inline-block;
    text-align:center;
    border-radius: 50%;
    opacity: 0.9;
}
.footer .social a:hover{
    background-color: orange;
}
.footer ul{
    padding: 0;
    margin-top: 0;
    list-style: none;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    text-align: center;
}
.footer ul a{
    text-decoration: none;
    color: white;
    opacity: 0.9;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul a:hover{
    color: orange;
}
.footer .copyright{
    margin-top: 16px;
    color: white;
    text-align: center;
    opacity: 0.9;
}

/*-----------------GUIDE.CSS-----------------*/

.guide{
    background: url(homepix/black.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.game-mechanics{
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 50px;
    margin: 10px;
}
.mechanics a{
    text-decoration: none;
    color: orange;
}
.mechanics dl{
    padding-bottom: 55px;
    font-family: 'Jost', sans-serif;
}
.mechanics dt{  
    font-size: 25px;
    text-align: left;
    padding-left: 100px;
    padding-top: 20px;
    font-weight: bolder ;
}
.mechanics dd{
    font-size: 20px;
    text-align: left;
    padding: 0 100px;
    font-weight: 500;
    text-align: justify;
}
.mechanics a{
    font-size: 21px;
    color: orange;
    font-weight: bold;
    text-decoration: none;
} 
.viewmore i{
    padding-left: 10px;
}
.viewmore a{
    float: right;
    margin: 0 100px;
    padding: 7px 15px;
    font-size: 18px;
}
.viewmore a:hover{
    background-color: black;
    color: white;
}
.tips{
    padding: 5px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,107,141,1) 0%, rgba(0,69,91,1) 90% );
}
.tips h1{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    font-family: 'Koulen', cursive;
    font-size: 50px;
}
.tips ol{
    color: white;
    padding: 0 100px;
    font-size: 20px;
    line-height: 40px;
}

/*-----------ITEMS PAGE------------*/

.item{
    background: url(itemspix/bluebg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.banner-text2{
    position: absolute;
    top: 68%;
    left: 50%;
    text-align: left;
    transform: translate(-90%,-50%);
}
.banner-text2 h1{
    font-family: sans-serif;
    margin: 0;
    font-size: 40px;
    color: orange;
    font-family: 'Koulen', cursive;
    line-height: 50px;
}
.banner-text2 p{
    font-size: 21px;
    color:white;
}
.banner-text2 i{
    font-size: 45px;
    padding-top: 16%;
    padding-left: 87%;
    color: white;
}
.series{
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 50px;
    margin: 10px;
    border: 5px outset #898c91;
    background-image: radial-gradient( circle 506px at 50.6% 16.5%,  rgba(239,252,250,1) 5.5%, rgba(154,192,206,1) 100.2% );
}
.containerr2{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    background-image: linear-gradient( 180deg,  rgba(120,212,234,1) 11.2%, rgba(216,226,253,1) 72.1% );
}
.containerr2 .box2{
    position: relative;
    width: 230px;
    margin: 5px;
}
.imgbox2 img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.containerr2 a{
    color: black;
    padding: 10px 15px 10px 15px;
    margin-left: 41%;
    text-decoration: none;
    text-align: center;
}
.containerr2 a:hover{
    color: orange;
}
.containerr p{
    text-align: justify;
}


/*-----------MAPS PAGE---------*/

.maps{
    background: url(mappix/mapbg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.map h1{
    font-weight: bold;
    padding: 0;
}
.containerr{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    background-image: linear-gradient(#626f96,#74959A, #98B4AA, #F1E0AC,#f3e5be, #ffedb6)
}
.containerr .box{
    position: relative;
    width: 305px;
    margin: 10px;
}
.imgbox img{
    display: block;
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.containerr .box .imgbox img{
    max-width: 100%;
    transition: 1s;
}
.containerr .box:hover .imgbox img{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 15px 20px rgba(0,0,0,.7);
}

/*--------------CHARACTERS---------------*/

.characters{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(48, 46, 46) 0%, rgb(0, 0, 0) 90% );
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.bombertype{
    font-family: 'Koulen', cursive;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: -40px;
}
.containerrr{
    position: relative; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-evenly;
    background: linear-gradient(#998d7a, #C3B091, #E4CDA7, #FFE6BC);
}
.containerrr .boxx{
    position: relative;
    height: 275px;
    width: 240px;
    margin: 15px;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 70px;
}
.containerrr .boxx:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0. 25px 40px rgba(0,0,0,.7);
}
.containerrr .boxx .imgbox{
    position: absolute;
    width: 100%;
    height: 100%;
}
.containerrr .boxx .imgbox img{
    position: absolute;
    height: auto;
    width: auto;
}
.containerrr .boxx .imgbox:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: radial-gradient( circle 964.7px at 10% 20%,  rgb(32, 32, 32) 0%, rgba(46,52,79,1) 44%, rgba(187,187,187,1) 100.1% );
    mix-blend-mode: multiply;
    transition: 0.5s;
    opacity: 0;
}
.containerrr .boxx:hover .imgbox:before{
    opacity: 1;
}
.containerrr .boxx .content{
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    z-index: 2;
    padding-left: 15px;
    padding-bottom: 15px;
    align-items: flex-end;
}
.containerrr .boxx .content h2{
    color: orange;
    transition: 0.5s;
    margin-bottom: 5px;
    font: 20px;
    transform: translateX(300px);
}
.containerrr .boxx:hover .content h2{
    transform: translateX(0);
    transition-delay: 0.10s;
}
.containerrr .boxx .content p{
    color: white;
    transform: translateX(300px);
    transition: 0.5s;
    font-size: 13px;
}
.containerrr .boxx:hover .content p{
    transform: translateX(0);
    transition-delay: 0.5s;
}
.boxx a{
    text-decoration: none;
}
.containerrr .boxx h2:hover{
    color: white
}
